
body { 
   background-color: #990000;
}


.main {
  padding: 5px;
  margin-bottom: 5px;
}

p.head {
  font-family: "Felix Titling",serif;
  font-size: 24px;
  text-align: left;
  }

p.arial {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  text-align: left;
}

p.arial2 {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  text-align: right;
}
