
body { 
   background-color: #990000;
}

div.polaroid {
  width: 75%;
  background-color: #595959;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.8), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}



.main {
  padding: 5px;
  margin-bottom: 5px;
}

p.head {
  font-family: "ink free", sans-serif;
  font-size: 50px;
  font-weight: bold; 
  }

p.arial {
  font-family: "calibri light", sans-serif;
  font-size: 25px;
}

p.arial2 {
  font-family: "calibri light", sans-serif;
  font-size: 20px;
}

