
body { 
   background-color: #990000;
}


.main {
  padding: 5px;
  margin-bottom: 5px;
}

p.head {
  font-family: "ink free", sans-serif;
  font-size: 50px;
  font-weight: bold; 
  }

p.arial {
  font-family: "calibri light", sans-serif;
  font-size: 25px;
}

p.arial2 {
  font-family: "calibri light", sans-serif;
  font-size: 20px;
}

