
body { 
   background-color: #990000;
}


.main {
  padding: 5px;
  margin-bottom: 5px;
}

p.head {
  font-family: "Alegreya SC",serif;
  font-size: 28px;
  text-align: left;
  }

p.arial {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  text-align: left;
}

p.arial2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  text-align: right;
}
