
body { 
   background-color: #990000;
}


.main {
  padding: 5px;
  margin-bottom: 5px;
}

div.head {
  font-family: "Ink Free",sans-serif;
  font-size: 25px;
  text-align: right;
  }

div.arial {
  font-family: "Candara",sans-serif;
  font-size: 20px;
  text-align: right;
}

div.arial2 {
  font-family: "Candara", sans-serif;
  font-size: 16px;
  text-align: right;
}
