html {
  background-color: #fefffd;
}

body {
  width: 750px;
  max-width: 90%;
  margin: 0 auto;
  padding: 1em;



  font-family: 'FiraSansRegular';
  font-weight: normal;
  font-style: normal;
}

body, pre, pre code {
  font-size: 18px;
}

a, a:visited {
  color: #48820f;
}

h1, h2 {
  display: inline-block;
  border-bottom-style: dotted;
  border-bottom-color: #48820f;
}

h1 {
  border-bottom-width: 10px;
}

h2 {
  border-bottom-width: 5px;
}

img, audio, iframe {
  width: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
