
body, html { 
  background-color: #990000;
  height: 100%;
  margin: 0;
  font-family: "Alegreya SC",serif;
  padding: 20px;
  margin-bottom: 20px;
}	

p.head {
  font-family: "Felix Titling",serif;
  font-size: 24px;
  text-align: left;
  }

p.arial {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 18px;
  text-align: left;
}

p.arial2 {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
  text-align: right;
}
/* unvisited link */
a:link {
  color: #ffe6e6;
}

/* visited link */
a:visited {
  color: ##ff8080;
}

/* mouse over link */
a:hover {
  color: #ffffff;
}

/* selected link */
a:active {
  color: #333;
}

div.polaroid {    
  width: 100%;
  background-color: #333;
  box-shadow: 10px 15px 10px  #391313;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: 0;
}
div.container {
  text-align: right;
  padding: 10px 20px;  
  color: #ffffff;	
}
	
* {box-sizing: border-box}

.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.column {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;

  font-family: "Felix Titling";
  font-weight: normal; 
  font-style: normal; 

}

.topnav a:hover {
  background-color: #990000;
  color: #ffffff;
}

.topnav a.active {
  background-color: #990000;
  color: #ffffff;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: #ffffff;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.left {
    float: left;
    width: 45%;
    padding: 60px;
}

.right {
	float: right; 
    margin-left: 45%;
padding: 40px;
}
	
.center {
  margin: auto;
  width: 80%;
  padding: 8px;
}
