
body { 
   background-color: #990000;
}


.main {
  padding: 5px;
  margin-bottom: 5px;
}

p.head {
  font-family: "Ink Free",sans-serif;
  font-size: 30px;
  text-align: left;
  }

p.arial {
  font-family: "Candara",sans-serif;
  font-size: 20px;
  text-align: left;
}

p.arial2 {
  font-family: "Candara", sans-serif;
  font-size: 15px;
  text-align: left;
}
