
body { 
   background-color: #990000;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: center;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
  font-size: 25px;
  margin: 0;
  font-family: "ink free", sans-serif;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;

}

div.polaroid {

  background-color: #595959;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.8), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 0px 50px; 
color: white;
}


.main {
  padding: 5px;
  margin-bottom: 5px;
}

p.head {
  font-family: "ink free", sans-serif;
  font-size: 50px;
  font-weight: bold; 
  }

p.arial {
  font-family: "calibri light", sans-serif;
  font-size: 25px;
}

p.arial2 {
  font-family: "calibri light", sans-serif;
  font-size: 20px;
}

